{% comment %}
   Render as card error.

   Parameters:
      - error        : <dict> .title and .detail of the error to display

{% endcomment %}
{% load i18n %}
<div class="card bg-danger text-white">
    <div class="card-header">
        {% trans 'CARD_ERROR_HEADER_TITLE' %}
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>
                {% trans 'A_PROBLEM_OCCURRED_WHILE_PROCESSING_THE_REQUEST' %}.
            </p>
            <p>
                {% trans 'MAY_BE_YOU_SHOULD_TRY_AGAIN_IN_A_FEW_SECONDS' %}.
                <br/>
                {% trans 'IF_THE_ERROR_PERSISTS_CONTACT_US_WITH_ERROR_DETAILS' %}.
            </p>
        </div>
        <div class="card-link">
            <a href="#" class="btn btn-dark" id="errorDetailsContentBtn">Details</a>
        </div>
        <div class="card-text" id="errorDetailsContent" style="display: none;">
            <pre class="text-white mt-3">{{ error.label }}</pre>
            <pre class="text-white">{{ error.detail }}</pre>
        </div>
    </div>
    <div class="card-footer">
        {% trans 'PLEASE_ACCEPT_OUR_APOLOGIZES' %}.
    </div>
</div>

<script>
    $('#errorDetailsContentBtn').click(function () {
        $('#errorDetailsContent').toggle();
    });
</script>
