{% extends 'frontoffice/base.html' %}

{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans 'PAGE_VENDOR_BACKOFFICE_TITLE' %}{% endblock %}

{% block page-title %}{% trans 'WELCOME_IN_THE_BACKOFFICE' %}{% endblock %}

{% block page-body %}

<div class="col-lg-4">
    <h3>Last 5 orders</h3>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr class="text-center">
                <th>Order code</th>
                <th>Client</th>
                <th>Amount</th>
                <th>Order date</th>
            </tr>
        </thead>
        <tbody>
        {% for order in last_n_orderss %}
            <tr class="text-center">
                <td>{{ order.code }}</td>
                <td>{{ order.client.get_full_name }}</td>
                <td>{{ order.amout }}</td>
                <td>{{ order.created_at }}</td>
            </tr>
        {% empty %}
            <tr class="text-center">
                <td colspan="4">No orders created yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-lg-8">
    <h3>Last 5 clients</h3>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr class="text-center">
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <th>Date joined</th>
                <th>Impersonate</th>
            </tr>
        </thead>
        <tbody>
        {% for client in last_n_clients %}
            <tr class="text-center">
                <td>{{ client.first_name }}</td>
                <td>{{ client.last_name }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.date_joined }}</td>
                <td>
                    {% include 'people/generic/impersonate_button.html' with user=client %}
                </td>
            </tr>
        {% empty %}
            <tr class="text-center">
                <td colspan="5">No users created yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-lg-4">
    <h3>Most ordered models</h3>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr class="text-center">
                <th>Model name</th>
                <th>Order count</th>
            </tr>
        </thead>
        <tbody>
        {% for model in last_n_most_ordered_models %}
            <tr class="text-center">
                <td>{{ model.name }}</td>
                <td>{{ model.order_count }}</td>
            </tr>
        {% empty %}
            <tr class="text-center">
                <td colspan="4">No models ordered yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-lg-4">
    <h3>Most ordered colors</h3>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr class="text-center">
                <th>Color name</th>
                <th>Order count</th>
            </tr>
        </thead>
        <tbody>
        {% for color in last_n_most_ordered_colors %}
            <tr class="text-center">
                <td>{{ color.name }}</td>
                <td>{{ color.order_count }}</td>
            </tr>
        {% empty %}
            <tr class="text-center">
                <td colspan="4">No colors ordered yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

<div class="col-lg-4">
    <h3>Most ordered sizes</h3>
    <table class="table table-bordered table-sm">
        <thead class="thead-light">
            <tr class="text-center">
                <th>Size</th>
                <th>Order count</th>
            </tr>
        </thead>
        <tbody>
        {% for size in last_n_most_ordered_sizes %}
            <tr class="text-center">
                <td>{{ size.name }}</td>
                <td>{{ size.order_count }}</td>
            </tr>
        {% empty %}
            <tr class="text-center">
                <td colspan="4">No sizes ordered yet</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}