{% extends 'frontoffice/base.html' %}

{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}My account{% endblock %}

{% block page-title %}My account{% endblock %}

{% block page-body %}

{% if error %}
<div class="col-lg-offset-1 col-lg-10 my-3">
   {% include 'frontoffice/generic/card-error.html' with error=error %}
</div>
{% else %}

<div class="col-lg-offset-1 col-lg-10 my-3">
   <div class="card">
      <form method="post" id="accountChangePassword">
         {% csrf_token %}
         {% render_field change_password_form.action type="hidden" %}
         <div class="card-header">Change password</div>
         <div class="card-body">
            <div class="card-text">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <label class="input-group-text" for="{{ change_password_form.new_password.id_for_label }}">
                        New password
                     </label>
                  </div>
                  {% render_field change_password_form.new_password class+='form-control' placeholder="New password"%}
                  <div class="input-group-append" style="display:none">
                     <label id="{{ change_password_form.new_password.id_for_label }}_err_help" class="input-group-text help-block bg-danger text-white"></label>
                  </div>
               </div>
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <label class="input-group-text" for="{{ change_password_form.new_password_confirm.id_for_label }}">
                        Password confirmation
                     </label>
                  </div>
                  {% render_field change_password_form.new_password_confirm class+='form-control' placeholder="Password confirmation"%}
                  <div class="input-group-append" style="display:none">
                     <label id="{{ change_password_form.new_password_confirm.id_for_label }}_err_help" class="input-group-text help-block bg-danger text-white"></label>
                  </div>
               </div>
            </div>
            <div class="card-link clearfix">
               <div class="float-right">
                  <button type="submit" class="btn btn-primary">Change password</button>
               </div>
            </div>
         </div>
      </form>
   </div>
</div>

<script>
   $('#accountChangePassword').submit(function() {
      const ePasswordInput = $('#{{ change_password_form.new_password.id_for_label }}');
      const ePasswordErrSpan = $('#{{ change_password_form.new_password.id_for_label }}_err_help');
      const ePasswordConfirmInput = $('#{{ change_password_form.new_password_confirm.id_for_label }}');
      const ePasswordConfirmErrSpan = $('#{{ change_password_form.new_password_confirm.id_for_label }}_err_help');

      ePasswordErrSpan.parent().hide();
      ePasswordConfirmErrSpan.parent().hide();

      if (ePasswordInput.val() === '') {
         ePasswordInput.parent().addClass('text-danger');
         ePasswordErrSpan.html('Password should not be empty');
         ePasswordErrSpan.parent().show();
         return false;
      }
      if (ePasswordConfirmInput.val() === '') {
         ePasswordConfirmInput.parent().addClass('text-danger');
         ePasswordConfirmErrSpan.html('Password should not be empty');
         ePasswordConfirmErrSpan.parent().show();
         return false;
      }
      if (ePasswordInput.val() !== ePasswordConfirmInput.val()) {
         ePasswordInput.parent().addClass('text-danger');
         ePasswordErrSpan.html('Passwords are not identical');
         ePasswordErrSpan.parent().show();

         ePasswordConfirmInput.parent().addClass('text-danger');
         ePasswordConfirmErrSpan.html('Passwords are not identical');
         ePasswordConfirmErrSpan.parent().show();
         return false;
      }
      return true;
   });
</script>

{% endif %}
{% endblock %}
