{% extends 'frontoffice/base.html' %}

{% load i18n %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}{% trans 'PAGE_MY_ACCOUNT_TITLE' %}{% endblock %}

{% block page-title %}{% trans 'PAGE_MY_ACCOUNT_TITLE' %}{% endblock %}

{% block page-body %}

{% if error %}
<div class="col-lg-offset-1 col-lg-10 my-3">
    {% include 'frontoffice/generic/card-error.html' with error=error %}
</div>
{% else %}

{% trans 'CLIENT_NEW_PASSWORD' as CLIENT_NEW_PASSWORD %}
{% trans 'CLIENT_NEW_PASSWORD_CONFIRMATION' as CLIENT_NEW_PASSWORD_CONFIRMATION %}

<div class="col-lg-offset-1 col-lg-10 my-3">
    <div class="card">
        <form method="post" id="accountChangePassword">
            {% csrf_token %}
            {% render_field change_password_form.action type="hidden" %}
            <div class="card-header">{% trans 'CHANGE_PASSWORD_HEADER_TITLE' %}</div>
            <div class="card-body">
                <div class="card-text">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"
                                   for="{{ change_password_form.new_password.id_for_label }}">
                                {{ CLIENT_NEW_PASSWORD }}
                            </label>
                        </div>
                        {% render_field change_password_form.new_password class+='form-control' placeholder=CLIENT_NEW_PASSWORD %}
                        <div class="input-group-append" style="display:none">
                            <label id="{{ change_password_form.new_password.id_for_label }}_err_help"
                                   class="input-group-text help-block bg-danger text-white"></label>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text"
                                   for="{{ change_password_form.new_password_confirm.id_for_label }}">
                                {{ CLIENT_NEW_PASSWORD_CONFIRMATION }}
                            </label>
                        </div>
                        {% render_field change_password_form.new_password_confirm class+='form-control' placeholder=CLIENT_NEW_PASSWORD_CONFIRMATION %}
                        <div class="input-group-append" style="display:none">
                            <label id="{{ change_password_form.new_password_confirm.id_for_label }}_err_help"
                                   class="input-group-text help-block bg-danger text-white"></label>
                        </div>
                    </div>
                </div>
                <div class="card-link clearfix">
                    <div class="float-right">
                        <button type="submit" class="btn btn-primary">{% trans 'CHANGE_PASSWORD' %}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $('#accountChangePassword').submit(function () {
        const ePasswordInput = $('#{{ change_password_form.new_password.id_for_label }}');
        const ePasswordErrSpan = $('#{{ change_password_form.new_password.id_for_label }}_err_help');
        const ePasswordConfirmInput = $('#{{ change_password_form.new_password_confirm.id_for_label }}');
        const ePasswordConfirmErrSpan = $('#{{ change_password_form.new_password_confirm.id_for_label }}_err_help');

        ePasswordErrSpan.parent().hide();
        ePasswordConfirmErrSpan.parent().hide();

        if (ePasswordInput.val() !== ePasswordConfirmInput.val()) {
            ePasswordInput.parent().addClass('text-danger');
            ePasswordErrSpan.html('{% trans 'PASSWORDS_ARE_NOT_IDENTICAL' %}');
            ePasswordErrSpan.parent().show();

            ePasswordConfirmInput.parent().addClass('text-danger');
            ePasswordConfirmErrSpan.html('{% trans 'PASSWORDS_ARE_NOT_IDENTICAL' %}');
            ePasswordConfirmErrSpan.parent().show();
            return false;
        }
        return true;
    });
</script>

{% endif %}
{% endblock %}
