{% extends 'frontoffice/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page-body %}

<style>
   /* Container holding the image and the text */
   .container {
      position: relative;
      text-align: center;
      color: black;
   }
   /* Centered text */
   .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
   }
</style>

<div class="container">
   <img src="{% static 'frontoffice/img/home_season_bg.jpg' %}">
   <div class="centered">Season Autumn / Winter 2019</div>
</div>

{% endblock %}
