{% extends 'frontoffice/base.html' %}

{% load staticfiles %}

{% load tools_extras %}

{% block title %}Home{% endblock %}

{% block page-body %}

<style>
    /* Container holding the image and the text */
    .container {
        position: relative;
        text-align: center;
        color: black;
    }

    /* Centered text */
    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>

<div class="container">
    <a href="{% url 'fo-shop' %}?selection={{ selection_seasons.first.name }}" class="btn">
        <img src="{% static 'frontoffice/img/home_season_bg.jpg' %}">
        <div class="centered">{% trans_db selection_seasons.first getLabel %}</div>
    </a>
</div>

{% endblock %}
