{% extends 'frontoffice/base.html' %}

{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block page-body %}

<style>
   .product-card {
       width: 500px;
       height: auto;
   }
</style>

<div class="container">
   <div class="row">
      <div class="card product-card">
         {% if product.colourings.first.picture %}
         <img class="card-img-top" src="/media/products/{{ product.colourings.first.picture }}" alt="{{ product.label }} : {{ product.colourings.first.color }}">
         {% else %}
         <img class="card-img-top" style="background-color: {{ product.colourings.first.color.rgb_s }}; width: 16px; height: 16px">
         {% endif %}
         <div class="card-body">
            <h4>{{ product.label }}</h4>

            <div class="list-group list-group-horizontal">
            <span class="small">Colors:&nbsp;</span>
            {% for colouring in product.colourings.all %}
               <a href="{% url 'fo-product' %}?model={{ product.name }}&color={{ colouring.color.name }}" class="list-group-item small" style="background-color: {{ colouring.color.rgb_s }}; {% if colouring.color.name == color %}border: 1px black groove{% endif %}"></a>
            {% endfor %}
            </div>
            <span class="small">
               Sizes: {{ product.sizes.all|join:', ' }}
            </span>
         </div>
      </div>
   </div>
</div>

{% endblock %}
